p {
    font-size: 0.9em;
    font-weight: 300;
    text-align: left;
    margin: 0 0 2em 0;
}

.presentation {
    margin: 4em 4em 4em 50%;
    ;
}

button {
    width: 27em;
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.1em solid var(--primaryColor);
    color: var(--primaryColor);
    font-family: 'Montserrat';
    font-size: 0.9em;
    margin-bottom: 3em;
    height: 3em;
    background: var(--primaryColor);
    border-color: none;
    border-bottom: 0;
    color: var(--lightColor);
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 2em;
}

button:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
}

@media (min-width: 1076px) {
    p {
        text-align: left;
    }

    .presentation {
        margin: 4em 12% 3em 55%;
    }
}

@media only screen and (min-width: 432px) and (max-width: 962px) {
    p {
        text-align: center;
    }

    .presentation {
        margin: 7em;
    }

    button {
        width: 22em;
    }

}

@media only screen and (max-width: 432px) {
    p {
        text-align: center;
    }

    .presentation {
        margin: 1em;
        ;
    }

    button {
        width: 18em;
    }

}

@media only screen and (max-width: 306px) {
    button {
        width: 11em;
    }
}