p {
    font-size: 0.9em;
    font-weight: 300;
    text-align: left;
    margin: 0 0 2em 0;
}

.presentation {
    margin: 5% auto auto 47%;
    ;
}

#buttons {
    margin: 2em 0 0 0;
}

button {
    width: 16em;
    height: 3em;
    background: none;
    border: none;
    font-family: 'Montserrat';
    font-size: 0.9em;
    background: var(--primaryColor);
    color: var(--lightColor);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 1em 0 0 0;
}

button:hover {
    background-color: var(--complementaryColor);
    cursor: pointer;
}

@media (min-width: 916px) {

    /* @media (min-width: 1076px) { */
    p {
        text-align: left;
    }

    .presentation {
        margin: 5% 10% auto 40%;
    }
}

@media only screen and (min-width: 432px) and (max-width: 916px) {

    /* @media only screen and (min-width: 432px) and (max-width: 962px) { */
    p {
        text-align: center;
    }

    .presentation {
        margin: 5% 13% auto 13%;
    }

    button {
        width: 22em;
    }

}

@media only screen and (max-width: 432px) {
    p {
        text-align: center;
    }

    .presentation {
        margin: 5%;
        ;
    }

    button {
        width: 18em;
    }

}

@media only screen and (max-width: 306px) {
    button {
        width: 11em;
    }
}