.content {
    position: relative;
    display: grid;
    grid-template-areas:
        "title"
        "presentation"
        "pictures";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.title {
    grid-area: title;
    margin: 1em 0;
    color: var(--primaryColor);
}

.presentation {
    grid-area: presentation;
    margin: 1em 0 2em 0;
    color: var(--primaryColor);
}

.pictures {
    grid-area: pictures;
    margin: auto 5% 2em 5%;
}

.pictures img {
    width: 100%;
    margin: 0 0 1em 0;
}

h1 {
    font-weight: 400;
    font-size: 1.7em;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1em;
    color: var(--primaryColor);
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    font-weight: 300;
}

em {
    font-style: italic;
}

#buttons {
    margin: 2.5em 0;
}

button {
    /* width: 100%; */
    width: 17em;
    height: 3em;
    background: none;
    border: none;
    font-family: 'Montserrat';
    font-size: 0.9em;
    background: var(--primaryColor);
    color: var(--lightColor);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 1em 0 0 0;
}

button:hover {
    background-color: var(--complementaryColor);
    cursor: pointer;
}

@media (min-width: 1394px) {
    .content {
        position: relative;
        display: grid;
        grid-template-areas:
            "pictures title"
            "pictures presentation";
        grid-template-columns: 1fr 40%;
        grid-template-rows: 175px 1fr;
    }

    .title {
        margin: 1em 0;
    }

    .presentation {
        margin: 1em 3em 1em 0;
    }

    .pictures {
        margin: 2em 3em;
    }

    .pictures img {
        width: 100%;
        margin: 0 0 1em 0;
    }

    h1 {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    h3 {
        text-align: left;
    }

    p {
        text-align: left;
    }

    button {
        display: inline-block;
        width: 17em;
        margin: 0.5em 0.5em 0.5em 0;
    }

    /* #lastButton {
        margin: 0;
    } */
}

@media (min-width: 916px) and (max-width: 1394px) {
    .content {
        position: relative;
        display: grid;
        grid-template-areas:
            "pictures title"
            "pictures presentation";
        grid-template-columns: 1fr 40%;
        grid-template-rows: 175px 1fr;
    }

    .title {
        margin: 1em 0;
    }

    .presentation {
        margin: 1em 3em 1em 0;
    }

    .pictures {
        margin: 2em 3em;
    }

    .pictures img {
        width: 100%;
        margin: 0 0 1em 0;
    }

    h1 {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    h3 {
        text-align: left;
    }

    p {
        text-align: left;
    }

    button {
        display: inline-block;
        width: 17em;
        margin: 0.5em 0.5em 0.5em 0;
    }
}

@media only screen and (min-width: 432px) and (max-width: 916px) {

    .title,
    .presentation {
        margin: 1em;
    }

    button {
        /* display: block; */
        width: 17em;
        margin: 0.5em 0.5em 0.5em 0;
    }
}

@media only screen and (max-width: 432px) {

    .title,
    .presentation {
        margin: 1em;
    }
}

@media only screen and (max-width: 306px) {

    .title,
    .presentation {
        margin: 1em;
    }

    .pictures {
        margin-right: 0;
        margin-left: 0;
    }

    .pictures img {
        width: 100%;
        margin: 0 0 0.4em 0;
    }
}